<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/search.css">
    <link rel="icon" href="/static/css/icon.ico">
    <title>Results!</title>
</head>
<body>
    <div class="header">
        <h1>Results!</h1>
    </div>
    <table>
        <tr>
            <th>Price</th>
            <th>Location</th>
            <th>Milage</th>
        </tr>
            <td>{{cars_found[0]["price"]}}</td>
            <td>{{cars_found[0]["state"]}}</td>
            <td>{{cars_found[0]["milage"]}}</td>
        <tr>
            <td>{{cars_found[1]["price"]}}</td>
            <td>{{cars_found[1]["state"]}}</td>
            <td>{{cars_found[1]["milage"]}}</td>
        </tr>
        <tr>
            <td>{{cars_found[2]["price"]}}</td>
            <td>{{cars_found[2]["state"]}}</td>
            <td>{{cars_found[2]["milage"]}}</td>
        </tr>
    </table>
</body>
</html>